#toc-container {
  padding: 0;
  float: left;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  border: 2px solid black;
  background-color: #F0F0F0;
  overflow: auto;
  max-height: 50vh;
  min-width: 20vw;
}

#toc-container p {
  font-size: 17px;
  margin-top: 8px;
  text-align: center;
  margin-bottom: -10px;
}

#toc-container hr {
  border: 0.1px solid gainsboro;
  width: 90%;
}

#xaringan-toc {
  margin: 0;
  padding: 5px 30px 10px 40px;
}

#xaringan-toc li a {
  cursor: pointer;
  color: blue;
}

#xaringan-toc li a:hover {
  color: red;
  text-decoration: underline;
}